.menubar{
    font-size: 16px;
    font-weight: 400;

}
/* .menubar ul{
    margin-left: 100px;
} */
.menubar .dropdown{
    margin-top: 25px;
    
}
.menubar .dropdown-menu{
    margin-left: 20px;
}
.menubar .dropdown:hover>.dropdown-menu{
    display: block;
}
.menubar ul .dropdown{
    margin-left: 0;
}

.menubar ul .dropdown .dropdown-item{
    margin-left: 0;
}
.menubar ul li a{
    text-decoration: none;
    transition: all 0.5s linear;
    margin-left: 50px;
    font-weight: 500;
    

    
}
/* .menubar ul a:hover{
    transform: translateY(15px);   
} */
.menubar ul .icon{
   
    margin-top: 25px;

    
}
.menubar ul .icon .btn{
    
    padding: 5px 10px;
    color: rgb(255, 254, 254);
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
}

.menubar a img{
    height: 150px;
    margin-left: 10px;
    
   
    
}



@media (max-width: 1440px){
    
    .menubar ul{
        margin-left: 0;
    }
    .menubar ul .icon .btn{
        
        padding: 5px 10px;
        color: #fff;
        margin-left: 10px;
        font-size: 12px;
    }

    .menubar a img{
        height:80px;
    }
}



@media (max-width: 768px){
  
    .menubar ul{
        margin-left: 0px;
    }
    .menubar ul .icon li{
        margin-left: -620px;
        
    }

    .menubar ul .icon .img{
        margin-right: 50px;
    }
}



@media (max-width: 1300px){
    .menubar{
        font-size: 14px;
    }
    .menubar .dropdown{
        margin-top: 20px;
    }
    .menubar ul .icon .btn{
        font-size: 14px;
        
    }
   
    .menubar ul .icon{
        margin-top: 20px;
    }
}
@media (max-width: 1024px){

  .menubar .dropdown{
      margin-top: 15px;
  }
    .menubar ul .icon{
        margin-top: 10px;
        margin-left: 0px;
    }
    .menubar{
        font-size: 10px;
    }
    .menubar ul a{
        margin-left: 30px;
    }
    .menubar ul{
       margin-left: 0;
        
    }
    .menubar ul .icon .btn{
        font-size: 10px;
    }
    .menubar a img{
        height: 100px;
    }

}
@media only screen and (max-width: 1920px) and (min-height: 1080px){
    
    .menubar ul .dropdown{
       
        margin-top: 30px;
    }
    .menubar ul .dropdown-menu{
        margin-left: 50px;
    }
    
    .menubar ul li a{
        font-size: 20px;
        margin-left: 70px;
    }
    .menubar ul .icon .btn{
        font-size: 20px;
    }
  
    .menubar ul .icon{
        margin-left: 0px;
    }
    .menubar ul .icon .btn{
        font-size: 24px;
        margin-left: 50px;
    }
  
    
} 

@media(max-width: 600px){
    .menubar ul{
        margin-left: 0;
    }
    .menubar{
        font-size: 16px;
    }
}

 @media (max-width: 425px){
    .menubar ul .icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .menubar ul{
        margin-left: -50px;
    }
    .menubar ul .icon .btn{
        padding: 4px 8px;
        margin-left: 0;
        font-size: 16px;
        

    }
    .menubar ul a:hover{
        
        transform: translateX(-5px);
        width: 70px;
        
    }
    .menubar ul a{
        font-size: 14px;
        margin-left: 0;
    }
    .menubar ul .icon .img{
        margin-left: 0;
        
    }
    .menubar ul .icon li{
        margin-left: -250px;
        
        
    }
    .menubar .dropdown-menu{
        margin-left: 50px;
    }
    .menubar .dropdown:hover>.dropdown-menu{
        display: block;
    }

}