.menubar{
    font-size: 16px;
    font-weight: 400;

}
.menubar ul{
    margin-left: 200px;
    
    
}
.menubar ul a{
    text-decoration: none;
    transition: all 0.5s linear;
    margin-left: 5px;
    font-weight: 500;
    
}
.menubar ul a:hover{
    transform: translateY(15px);   
}
.menubar ul .icon{
    margin-left: 200px;
    margin-top: 20px;
    
}
.menubar ul .icon .btn{
    
    padding: 5px 10px;
    color: rgb(255, 254, 254);
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

.menubar a img{
    height: 150px;
    margin-left: 10px;
    
   
    
}
.nav-line{
    margin: 0;
    padding: 0;
    height: 1px;
    width: 100%;
   background-color: #fff;
}


@media (max-width: 1440px){
    .menubar ul{
        margin-left: 170px;
    }
    .menubar ul .icon .btn{
        
        padding: 5px 10px;
        color: #fff;
        margin-left: 10px;
        font-size: 12px;
    }
    .menubar{
        font-size: 14px;
    }
}


@media (max-width: 1024px){

   
    .menubar ul .icon{
        margin-left: 80px;
    }
    .menubar ul li a{
        font-size: 12px;
    }
    .menubar ul{
        margin-left: 80px;
        
    }
    .menubar a img{
        height: 100px;
    }

}
@media (max-width: 768px){
    .menubar ul{
        margin-left: 0px;
    }
    .menubar ul .icon{
        margin-left: 0;
    }

    .menubar ul .icon .img{
        margin-right: 50px;
    }
}
@media (max-width: 600px){
    .menubar ul .icon{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .menubar ul .icon .btn{
        padding: 4px 8px;
       
        margin-left: 0;
        

    }
    
    .menubar ul .icon{
        margin-left: 0x;
       
    }
    .menubar ul a:hover{
        
        transform: translateX(-5px);
        width: 70px;
        
    }
    .menubar ul a{
        font-size: 14px;
        margin-left: 0;
    }
    .menubar ul .icon .img{
        margin-left: 0;
        
    }
}
@media (min-width: 1920px){
    .menubar ul {
        margin-left: 350px;
    }
    .menubar{
        font-size: 16px;
    }
  
    .menubar ul .icon{
        margin-left: 400px;
    }
    .menubar ul .icon .btn{
        font-size: 24px;
    }
  
    
}
@media (min-width: 2560px){
    .menubar ul{
        margin-left: 580px;
    }
    .menubar{
        font-size: 24px;
    }
}