.banner{
    height: 80vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
.background{
    background: url(../../image/ZQgXhC84UabKkGfmeXpsDnR3q8jBok0ZJIJUkXQ86FoeJxFPc.jfif);
    object-fit: cover;
    height: 500px;
    background-attachment: fixed;
}
.description{
   margin-left: 40px;
    
}
.banner h1{
    
    font-size: 100px;
    font-weight: 600;
    color: rgb(255, 254, 255);
    margin-top: 100px;
    
   
}
.description .btn{
    background: #ff0028;
    padding: 12px 25px;
}
@media (max-width: 1024px){
    .banner{
        height: 50vh;
    }
}
@media (max-width: 768px){
    .banner{
        height: 50vh;
        margin-top: 0;
    }
}
@media (max-width: 600px){

    .banner{
        height: 800px;
        width: 500px;
    }
    .banner h1{
        margin-top: 300px;
        font-size: 80px;
        margin-left: 20px;
    }
    .description .btn{
        margin-left: 20px;
    }
}
@media (max-width: 475px){
    .banner{
        height: 800px;
        width: 425px;
    }
}