.club-background{
    background: url(../../../image/ZQgXhC84UabKkGfmeXpsDnR3q8jBok0ZJIJUkXQ86FoeJxFPc.jfif);
    height: 70vh;
    background-size: cover;
    font-family: 'Poppins';
    
}

.club-background h1{
    
    font-size: 200px;
    font-weight: 600;
    color: #fff;
    margin-top: 80px;
    margin-left: 50px;
    
}
.div{
    height: 300px;
    width: 900px;
    margin-left: 300px;
}

.management-button{
    
    margin-left: 26px;
    text-decoration: none;
    width: 350px;
    padding: 10px 100px;
    border-radius:0;
    font-family: 'Poppins';
    background: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 1s ease-out;
    box-shadow: inset 0 0 0 0 #000;
    
}
.management-button:hover{
    box-shadow: inset 350px 0 0 0 #000;
    color: #fff;
}


.staff h3{
    margin-top: 200px;
    font-size: 45px;
    font-weight: 600;
    margin-left: 100px;
}
.staff h6, .management h6{
    text-align: right;
    font-weight: 700;
    font-size: 28px;
    font-style: italic;
    
}
.div img{
    height: 100px;
    margin-left: 700px;
}
.management h3, .news h3{
    margin-top: 200px;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
  
}
.management p , .staff p{
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 2rem;
}
.events h3{
    font-size: 45px;
    font-weight: 600;
    margin-left: 100px;
}

 .management p , .staff p, .volunteers p, .governance p{
       font-size: 15px;
    }
.teams h2{
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 600;
   
}
@media(max-width: 1024px){
    .club-background{
        height: 550px;
    }
   
    .club-background h1{
        font-size: 150px;
       
    }
    .div{
        margin-left: 90px;
    }
   
}
@media(max-width: 768px){
   
    
    .club-background h1{
        margin-top: 100px;
        font-size: 110px;
    }
    .div{
        margin-left: 50px;
        width: 700px;
        height: 350px;
    }
    .div img{
        margin-left: 500px;
    }
    .club-background .aims h3{
        margin-left: 15px;
    }
    .club-background{
        height: 600px;
       
        
    }
    .lines{
        width: 650px;
    }
    .news .image{
        height: 210px;
        width: 210px;
    }
    .news img{
        height: 210px;
        width: 210px;
    }
     .management h3{
        margin-top: 400px;
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
    }
    .club-background .aims h3{
        font-size: 30px;
        margin-top: 300px;
        
    }
   .events .boxs{
      width: 280px;
      margin-left: -28px;

   }
   .btn-news .btn1{
       margin-left: 40px;
   }
    
    .boxs .avatars{
        height: 100px;
        width: 100px;
    }
    
   
}
@media (max-width: 600px){
    .club-background h1{
        margin-top: 200px;
        font-size: 76px;
        margin-left: 0;
    }

    .club-background{
        height: 600px;
    }
    .club-background .aims h3{
        margin-top: 500px;
        font-size: 30px;
        
    }
    .div{
        margin-left: 0;
        width: 400px;
        height: 400px;
        margin-bottom: 50px;
        
    }
    .events h3{
        margin-left: 10px;
        font-size: 30px;
    }
    
    .club h1{
        font-size: 100px;
    }
    .club{
        height: 50vh;
    }
    .lines{
        width: 300px;
        margin-left: 10px;
    }
    .club .aims h3{
       margin-top: 400px;
        font-size: 25px;
       
        
    }
    .aims ul li{
        margin-top: 17px;
        font-weight: 500;
        font-size: 14px;
        margin-left: 10px;
    }
    .div img{
        margin-left: 300px;
        height: 50px;

    }
    .management h3{
        margin-top: 250px;
    }
     .staff h3, .volunteers h3, .governance h3, .news h3{
        margin-top: 50px;
        font-size: 25px;
        font-weight: 600;
        margin-left: 10px;
    }
    .management p , .staff p, .volunteers p, .governance p{
        font-size: 13px;
        line-height: 1.3rem;
        margin-left: 10px;
     }
     .events .boxs{
        width: 300px;
        margin-left: 30px;
  
     }
     .btn-news .btn1{
         margin-left: 40px;
     }

}
@media (min-width: 1920px){
    .management h3{
        margin-top: 400px;
    }
    .staff h3{
        margin-left: 200px;
    }
    .management{
        margin-left: 50px;
    }
    .div{
        width: 1200px;
        margin-left: 670px;
    }
    .management p{
        font-size: 26px;
        line-height: 2.5rem;
    }
    .staff p{
        font-size: 26px;
        line-height: 2.5rem;
        margin-left: 60px;
    }
    .teams h2{
        margin-left: 180px;
    }
}