.success {
    font-family: 'Poppins';
}
.success h1{
    font-weight: 600;
    font-size: 45px;
}
.success h5{
    margin-right: 450px;
    text-align: left;
}
.success .education h5 {
    margin-right: 620px;
    font-weight: 600;
}
.success .karate h5{
    margin-right: 595px;
    font-weight: 600;
}
.success .crickets h5{
    margin-right: 590px;
    font-weight: 600;
}

.success .details{
    max-width: 700px;
    margin-left: 60px;
    border-bottom: 2px solid #ff0028;
    padding-bottom: 1rem;
    cursor: pointer;
}
@media (max-width: 1440px){
    .success{
        margin-top: 200px;
    }
    .success .education h5 {
        margin-left: 30px;
        margin-right: 455px;
    }
    .success .karate h5{
        margin-left: 30px;
        margin-right: 440px;
    }
    .success .crickets h5{
        margin-left: 30px;
        margin-right: 430px;
    }
}

@media (max-width: 1024px){
    .success .education h5 {
        margin-right: 370px;
        font-weight: 600;
    }
    .success .karate h5{
        margin-right: 350px;
        font-weight: 600;
    }
    .success .crickets h5{
        margin-right: 340px;
        font-weight: 600;
    }
}
@media (max-width: 768px){
    .success{
        
        margin-top: 250px;
    }
    .success h1{
        font-size: 30px ;
    }
    .success .education h5 {
        margin-right: 300px;
        font-weight: 600;
    }
    .success .karate h5{
        margin-right: 280px;
        font-weight: 600;
    }
    .success .crickets h5{
        margin-right: 270px;
        font-weight: 600;
    }
}
@media (max-width: 600px){
    
    .success{
        margin-top: 50px;
    }
    .success .education h5 {
        
        margin-right: 200px;
        font-weight: 600;
    }
    .success .karate h5{
        margin-right: 180px;
        font-weight: 600;
    }
    .success .crickets h5{
        margin-right: 170px;
        font-weight: 600;
    }
}